* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  padding: 5rem 0 0 0;
  gap: 1rem;
}

.books {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  padding: 1rem;
  /* width: 20%; */
  min-height: 275px;
  max-width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.books h4 {
  margin: 0;
  /* padding: 1rem; */
  /* margin-top: 0;
  margin-bottom: 0; */
  /* margin: auto 0; */
}

.books:hover {
  /* opacity: 0.8; */
  transform: scale(1.02);
  border: 1px solid rgb(187, 187, 187);
}

.books:active {
  cursor: grabbing;
}

.addBook {
  margin: auto;
  padding: 1.5em;
}

/* .deleteButton {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgb(2, 2, 2);
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
  border: rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  color: white;
}

.editButton {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgb(2, 2, 2);
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
  border: rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  color: white;
} */
